/*STARTER CODE BEGINNING*/
.boxItem{
	font-size: 3em;
	text-align: center;
	color: white;
}

.red{background-color: red;}
.green{background-color: green;}
.blue{background-color: blue;}
.purple{background-color: purple;}
.pink{background-color: pink;}

/*STARTER CODE END*/

/*WRITE YOUR OWN STYLING BELOW*/
